<!DOCTYPE html>
<html lang="en" data-ng-app="AppTasks">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tasks</title>
    <link rel="stylesheet" href="assets/libs/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/libs/fontello/css/fontello.css">
    <link rel="stylesheet" href="assets/css/estilos.css">
</head>

<body>
    {{suma}}
    <div ng-view></div>


    <!-- <div class="container" ng-controller="tareaCtrl">
        <div class="col">
            {{suma}}
        </div>
        <div class="row">
            <h1>TAREAS</h1>
        </div>

        <div class="row" ng-show="!task">
            <div class="col-10">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">TITULO</th>
                            <th scope="col">DESCRIPCION</th>
                            <th scope="col">FECHA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="task in tareas">
                            <td>{{ task.id }}</td>
                            <td>{{ task.titulo }}</td>
                            <td>{{ task.descripcion }}</td>
                            <td>{{ task.fecha }}
                                <div class="botones btn btn-outline-warning ml-5 mr-2" ng-click="btnEditar(task)"> <i class="fa icon-pencil"></i> </div>
                                <div class="botones btn btn-outline-danger" ng-click="btnBorrar(task)"> <i class="fa icon-trash"></i> </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12">
                <div class="botones btn btn-success" ng-click=btnAgregar()>Agregar nueva tarea</div>
            </div>

        </div>

        FORMULARIO TAREA
        <div class="row" ng-show="task">
            <div class="col">
                <form id="myForm" name="formTask" ng-submit="submitForm(formTask)">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="titulo">Titulo</label>
                                <input type="text" class="form-control" id="titulo" aria-describedby="titulo"
                                    placeholder="Introduce el titulo de la nueva tarea" ng-model="task.titulo">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <p>Descripcion</p>
                        <textarea name="descripcion" style="resize: none;" id="descripcion" cols="100" rows="10"
                            ng-model="task.descripcion"></textarea>
                    </div>


                    <button type="submit"
                        class="btn btn-success btn-lg">{{ task.id ? 'Editar Tarea' : 'Agregar Tarea' }}</button>
                    <div class="botones btn btn-primary btn-large" ng-click=mostrarDatos()>Mostrar Tareas</div>
                </form>
            </div>
        </div>
    </div> -->

    <!-- <div class="container" ng-controller="usuarioCtrl">
        <div class="row">
            <h1>USUARIOS</h1>
        </div>

        --TABLA USUARIOS--
        <div class="row" ng-show="!user">
            <div class="col">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">NOMBRE</th>
                            <th scope="col">USUARIO</th>
                            <th scope="col">CORREO</th>
                            <th scope="col">STATUS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in usuarios">
                            <td>{{ user.id }}</td>
                            <td>{{ user.nombre }}</td>
                            <td>{{ user.usuario }}</td>
                            <td>{{ user.correo }}</td>
                            <td>{{ user.status }}
                                <div class="botones btn btn-outline-warning ml-5 mr-2" ng-click="putUsuario(user)"> <i
                                        class="fa icon-pencil"></i> </div>
                                <div class="botones btn btn-outline-danger" ng-click="deleteUsuario(user)"> <i
                                        class="fa icon-trash"></i> </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12">
                    <div class="botones btn btn-success" ng-click=btnAgregarUsuario()>Agregar nuevo Usuario</div>
                </div>
        </div>

        Formulario Usuarios
        <div class="row" ng-show="user">
                <div class="col">
                    <form id="myForm" name="formUser" ng-submit="submitFormUsuario(formUser)">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="titulo">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" aria-describedby="nombre"
                                        placeholder="Introduce el nombre del nuevo usuario" ng-model="user.nombre">
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label for="usuario">Usuario</label>
                                    <input type="text" class="form-control" id="usuario" aria-describedby="usuario"
                                        placeholder="Introduce el usuario" ng-model="user.usuario">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="correo">Correo</label>
                                    <input type="email" class="form-control" id="correo" aria-describedby="correo"
                                        placeholder="Introduce el correo del nuevo usuario" ng-model="user.correo">
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label for="contrasenia">Contraseña</label>
                                    <input type="password" class="form-control" id="contrasenia" aria-describedby="contrasenia"
                                        placeholder="Introduce el contrasenia" ng-model="user.contrasenia">
                                </div>
                            </div>
                        </div>
    
                        <button type="submit"
                            class="btn btn-success btn-lg">{{ task.id ? 'Editar Usuario' : 'Agregar Usuario' }}</button>
                        <div class="botones btn btn-primary btn-large" ng-click=mostrarDatos()>Mostrar Usuarios</div>
                    </form>
                </div>
            </div>

    </div> -->

    <script src="assets/libs/bootstrap/bootstrap.min.js"></script>
    <script src="assets/libs/jquery/jquery-3.4.1.min.js"></script>
    <script src="assets/libs/angular/angular.min.js"></script>
    <script src="assets/libs/angular/angular-route.js"></script>

    <!-- Angular modulos -->
    <script src="app/modules/app.js"></script>
    <!-- Factories -->
    <script src="app/factories/factory.js"></script>
    <!-- Services -->
    <script src="app/services/tareaService.js"></script>
    <script src="app/services/usuarioService.js"></script>
    <script src="app/services/loginService.js"></script>
    <!-- Controllers -->
    <script src="app/controllers/tareaCtrl.js"></script>
    <script src="app/controllers/usuarioCtrl.js"></script>
    <script src="app/controllers/loginCtrl.js"></script>
</body>

</html>