    <noscript>
        <h2>Sorry! Your browser doesn't support Javascript</h2>
    </noscript>

    <div id="chat-page" ng-controller="chatCtrl" class="">
        <div class="chat-container">
            <div class="chat-header">
                <h2>Spring WebSocket Chat Demo</h2>
            </div>
            <div class="connecting">
                Connecting...
            </div>
            <ul id="messageArea">

            </ul>
            <form id="messageForm" name="messageForm" ng-submit=sendMessage(messageForm)>
                <div class="form-group">
                    <div class="input-group clearfix">
                        <input type="text" id="message" placeholder="Escribe un mensaje..." autocomplete="off"
                            class="form-control" ng-model="messageContent"/>
                        <button type="submit" class="primary"><i class="icon  icon-right-open-outline"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>