<div class="container" ng-controller="usuarioCtrl">
    <div class="row">
        <h1>USUARIOS</h1>
    </div>

    <!-- --TABLA USUARIOS-- -->
    <div class="row" ng-show="!user">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">USUARIO</th>
                        <th scope="col">CORREO</th>
                        <th scope="col">STATUS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in usuarios">
                        <td>{{ user.id }}</td>
                        <td>{{ user.nombre }}</td>
                        <td>{{ user.usuario }}</td>
                        <td>{{ user.correo }}</td>
                        <td>{{ user.status }}
                            <div class="botones btn btn-outline-warning ml-5 mr-2" ng-click="editarUsuario(user)">
                                <i class="fa icon-pencil"></i> </div>
                            <div class="botones btn btn-outline-danger" ng-click="deleteUsuario(user)"> <i
                                    class="fa icon-trash"></i> </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12">
            <div class="botones btn btn-success" ng-click=btnAgregarUsuario()>Agregar nuevo Usuario</div>
        </div>
    </div>

    <!-- Formulario Usuarios -->
    <div class="row" ng-show="user">
        <div class="col">
            <form id="myFormUser" name="formUser" ng-submit="submitFormUsuario(formUser)">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="titulo">Nombre</label>
                            <input type="text" class="form-control" id="nombre" aria-describedby="nombre"
                                placeholder="Introduce el nombre del nuevo usuario" ng-model="user.nombre">
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="usuario">Usuario</label>
                            <input type="text" class="form-control" id="usuario" aria-describedby="usuario"
                                placeholder="Introduce el usuario" ng-model="user.usuario">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="correo">Correo</label>
                            <input type="email" class="form-control" id="correo" aria-describedby="correo"
                                placeholder="Introduce el correo del nuevo usuario" ng-model="user.correo">
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="contrasenia">Contraseña</label>
                            <input type="password" class="form-control" id="contrasenia" aria-describedby="contrasenia" placeholder="Introduce el contrasenia" ng-model="user.contrasenia">
                        </div>
                    </div>
                </div>

                <button type="submit"
                    class="btn btn-success btn-lg">{{ task.id ? 'Editar Usuario' : 'Agregar Usuario' }}</button>
                <div class="botones btn btn-primary btn-large" ng-click=mostrarDatos()>Mostrar Usuarios</div>
            </form>
        </div>
    </div>

</div>